body{
    background-color: black;
}

.App{
    text-align: center;
    font-size: 35px;
    margin-top: 20%;
    background-color: black;
    color: white;
}

.App-title{
    font-size: 50px;
}

.Clock-days, .Clock-hours, .Clock-minutes, .Clock-seconds{
    display: inline;
    margin: 10px;
    font-size: x-large;
}

.Deadline-input{
    font-size: 25px;
    margin: 5px;
   
}

@font-face {
    font-family: 'SnowtopCaps';
    src: url('assets/SnowtopCaps.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'DickensianChristams';
    src: url('assets/DickensianChristmas.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  .snowfontnumber {
      font-family: 'SnowtopCaps';
      display: inline;
      color: red;
      opacity: 0.5;
  }
  .snowfonttitle {
    font-family: 'DickensianChristams';
    display: inline;
    color: green;
}

.smallText{
    font-size: small;
    display: inline;
    color:white;
    opacity: 0.5;
}